.colorincolorado{
    color: #001213;
    color: #7a9196;
    color: #2b5f68;
    color: #499ca0;
    color: #98f0f3;
}
  

  .showcase{
    color: #2b5f68;
    background-image:url('https://img.freepik.com/vector-premium/coleccion-lindos-perros-divertidos-conjunto-diferentes-mascotas-dibujos-animados-aisladas-sobre-fondo-blanco-perro-estampado-animal-creativo-postales-ropa-guarderia-ilustracion-vector-dibujado-mano-colorido_479163-905.jpg?size=626&ext=jpg&uid=R103772969&ga=GA1.2.879167785.1684450201&semt=sph');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  }
  
  .showcase h1{
    font-size:50px;
    line-height:1.2;
  }
  
  .showcase p{
    font-size:20px;
  }
  
 .showcase .button{
    font-size:20px;
    text-decoration:none;
    color:#cdd8da;
    border:#dee9eb 4px solid;
    padding:10px 20px;
    border-radius:20px;
    margin-top:20px;
  }
  
 .showcase .button:hover{
    background:#499ca0;
    color:#fff;
  }
  
  .sectionA{
    padding:20px;
    background:#926239;
    color:#fff;
    text-align:center;
  }
  
  .sectionB{
    padding:20px;
    background:#f4f4f4;
    text-align:center;
  }
  
  .sectionC{
    display:flex;
  }
  
  .sectionC div{
    padding:20px;
  }
  
  .sectionC .box-1, .sectionC .box3{
    background:#926239;
    color:#fff;
  }
  
  .sectionC .box2{
    background:#f9f9f9;
  }
  