.colorincolorado {
    color: #001213;
    color: #7a9196;
    color: #2b5f68;
    color: #499ca0;
    color: #98f0f3;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%
}

@keyframes loaderOut{
    100%{
        visibility: hiden;
        opacity: 0;
    }
}

#loader.loaded{
    animation: loader-out 0.3s both;
}

.loader{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #2b5f68 #2b5f68 transparent transparent;
    scale: 1.5;
    animation: rotation 1s linear infinite;
}

.loader::before{
    width: 32px;
    height: 32px;
    border-color: #2b5f68 #2b5f68 transparent transparent;
    animation: rotation 1.5s linear infinite;
}

.loader::after,
.loader::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 3px solid;
    border-color: transparent transparent #499ca0 #499ca0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform-origin: center center;
    animation: rotationBack .5s linear infinite;
}

@keyframes rotation{
    0%{ rotate: 0deg;}
    100%{ rotate: 360deg;}
}


@keyframes rotationBack{
    0%{ rotate: 0deg;}
    100%{ rotate: -360deg;}
}

.input {
    background-color: #499ca0;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #001213;
    font-size: 14px;
    height: 100%;
    outline: 0;
    padding: 1px 4px 0;
}

.navBar {
    margin-top: -13.5%;
    list-style-type: none;
    position: fixed;
    overflow: hidden;
    background-color: #2b5f68;
    display: flexbox;
    z-index: 100;
    min-width: 100%;
}

.filters div {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

.filters select {
    background-color: #fff;
}

.filters select:hover {
    background-color: #7a9196;
}

.filters input:hover {
    background-color: #7a9196
}

.filters button:hover {
    background-color: #7a9196
}

.margin {
    margin-top: 10%;
    background-color: #fff;
    text-align: center;
}

.center {
    margin: auto;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3em;
}

.center {
    /* margin: 1em; */
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.button7 {
    background-color: #7a9196;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.15385;
    margin-top: 1.5%;
    outline: none;
    padding: 5px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button7:hover {
    background-color: #98f0f3
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #7a9196;
}

::-webkit-scrollbar-thumb {
    background: #dc2f55;
}

@media (max-width: 60em) {
    .navBar {
        margin-top: -70%;
    }

    .margin {
        margin-top: 70%;
    }
}